@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}
body {
    height: 100vh;
}
header {
    top: 0;
    height: 76px;
    margin-bottom: 1em;
    position: sticky;   
    background-color: #fff;
}
.logo {
    margin-left: 5em;
    font-size: 1.5rem;
    color: #666;
}
.logo:hover {
    color: #333;
}
a {
    color: #333;
    transition: 0.2s;
    text-decoration: none;
}
a:hover {
    color: #337ab7;
}
ul {
    flex-basis: content;
}
div a {
    padding-right: 40px;
    font-size: 0.8rem;
    list-style: none;
    display: inline-block;
}
nav {
    margin-top: 10px;
    padding: 30px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
main {
    height: 100vh;
    color: white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../img/ocean.jpeg');
}
/*    ------   main   ------ */
.info {


}

h1 {
    width: 50%;
    font-size: 4rem;
    font-weight: 200;
    top: 55vh;
    left: 50vh;
    text-align: center;
    position: absolute;
}
p {
    font-weight: 200;
    font-size: 0.75rem;
    top: 75vh;
    left: 75vh;
    position: absolute;
}

/*    ------   links   ------ */

.links {
    top: 80vh;
    left: 73vh;
    text-align: center;
    position: absolute;
}

/*    ------   buttons   ------ */

/* .read {
    font-size: 0.75em;
    padding: 15px 50px;
    border: 2px solid #745cf9;
    background-color: #745cf9;
    color: white;
} */
/*  
.read:hover {
    border: 2px solid #5234f9;
    color: white;
    background-color: #5234f9;
} */

.download {
    transition: 0.5s;
    font-size: 0.75em;
    padding: 15px 33px;
    border: 1px solid white;
    color: white;

}
.download:hover {
    color: black;
    background-color: white;
}

/*    ------   fancy buttons   ------ */
.read {
    font-size: 0.75em;
    color: white;
    background-size: 200% auto;
    transition: 0.5s;
    padding: 15px 50px;
    background-image: linear-gradient(to right, #1A2980 0%, #26D0CE  51%, #1A2980  100%);

}
.read:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}
